doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Submission Result 
    body 
        if success === 'true'
            h1 Data successfully saved to database
        else 
            h1 Failed to save data to database 
        
        a(href='/inventory-entry') Go back to IT Equipment Inventory Form 