doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Submission Result 
  body 
    if itEquipmentSuccess === 'true' && phoneSuccess === 'true'
      h1 Both standard IT equipment and cell-phone data are successfully saved to the database
    else if itEquipmentSuccess === 'true' && phoneSuccess === 'false'
      h1 Saved standard IT equipment data successfully, but failed to save cell phone data to the database
    else if itEquipmentSuccess === 'false' && phoneSuccess === 'true'
      h1 Saved cell phone data successfully, but failed to save standard IT equipment data to the database 
    else if itEquipmentSuccess === 'true' && phoneSuccess === 'undefined'
      h1 Standard IT equipment data saved successfully
    else if itEquipmentSuccess === 'undefined' && phoneSuccess === 'true'
      h1 Cell-phone data saved successfully 
    else if itEquipmentSuccess === 'false' && phoneSuccess === 'undefined'
      h1 Work order already exists, failed to save standard IT equipment data to the database 
    else if itEquipmentSuccess === 'undefined' && phoneSuccess === 'false'
      h1 Work order already exists, failed to save cell phone data to the database
    else 
      h1 Failed to save both standard IT equipment and cell-phone data to the database

    a(href='/inventory-entry') Go back to IT Equipment Inventory Form
