body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

h2 {
    margin-bottom: 5px; 
}

div#clientDetailContainer {
    padding: 10px;
    border-bottom: 5px solid #d87093;
}

div#ITEquipSummaryContainer {
    padding-bottom: 10px; 
}

div#standardEquipmentInfoContainer {
    border-top: 5px dashed #d87093;
    border-bottom: 3px dashed #d87093;  
    padding-bottom: 20px; 
}

div#phoneInfoContainer {
    border-top: 5px dashed #d87093;
}

div#noteContainer {
    border-top: 5px solid #d87093; 
}

div#fullNameContainer, div#companyDetailContainer, div#employeeContactContainer, div#standardEquipmentInfoContainer, div#phoneInfoContainer {
    margin: 15px 0px 15px 0px; /* Top, Left, Bottom, Right */ 
}

div#fullNameContainer label, div#companyDetailContainer label, div#employeeContactContainer label {
    margin-right: 5px; 
}

div#otherLaptopBrandContainer label, div#otherLaptopModelContainer label, 
div#otherMonitor1BrandContainer label, div#otherMonitor1ModelContainer label, 
div#otherMonitor2BrandContainer label, div#otherMonitor2ModelContainer label, 
div#otherDockContainer label, div#otherAdaptorContainer label, 
div#otherPhoneBrandContainer label, div#otherPhoneModelContainer label
{
    margin-left: 15px; 
}

div#fullNameContainer input, div#companyDetailContainer input, div#employeeContactContainer input {
    margin-right: 25px; 
}

div#workOrderStatus, div#phoneWorkOrderStatus {
    margin-bottom: 15px; 
}

div.checkbox-row input {
    margin: 10px 5px 10px 5px; 
}

.row { /* Allow Other Container to be in the same row as Drop-Down Menu */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.row label {
    flex-basis: 150px; 
    margin-right: 5px;
}

